/**configurazione**/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/**header**/

body{
width: 70%;
margin: 0 auto;
}

header h1{
text-align: center;
font-family: 'Fredoka', sans-serif;
color: red;
margin-top:20px;
margin-bottom: 40px;
}

header p{
text-align: center;
}

/**fine header**/

/**main**/

.card{
width:calc(100% /3 -10px);
height: 100px;
background-color: red;
border: 2px solid black;
float: left;
margin-left: 10px;
}

.clearfix::after{
content: "";
display: block;
clear: both;
}
